<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <label>Descricao da Categoria</label>
    <%= form.text_area :description, id: :category_description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit :Cadastrar, class: 'btn btn-success' %>
  </div>
<% end %>
