<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Nome do Produto</label>
    <%= form.text_field :title, size: "60x12", id: :product_title, class: 'form-control' %>

  </div>

  <div class="form-group">
    <label>Descrição do Produto</label>
    <%= form.text_area :description, id: :product_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Preço do Produto</label>
    <%= form.text_field :price, id: :product_price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Categoria do Produto</label>
    <%= form.select :category_id, Category.all.collect {|category| [category.description, category.id]}, :class => "form-control" %>
  </div>

  <div class="form-group">
    <label>Fotos do Produto</label>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit :Cadastrar, class: 'btn btn-primary' %>
  </div>
<% end %>
