<div class="col-xs-12">

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">Filtrar por Categorias</h3>
    </div>

    <ul>
      <% Category.all.each do |category| %>
        <li><%= link_to category.description, homepage_products_path(category_id: category.id) %></li>
      <% end %>
    </ul>

  </div>


  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">Pesquisar um Produto</h3>
    </div>

    <div class="panel-body">
      <%= form_tag("/products/homepage", method: "post") do %>
        <%= text_field_tag(:search_term) %>
        <%= submit_tag("Buscar") %>
      <% end %>
    </div>
  </div>

  <% @products.all.each do |product| %>

    <div class="panel panel-default">

      <div class="panel-heading">
        <h2><%= product.title %></h2>
        <p>Preço: <%= product.price %></p>
      </div>

      <% product.images.each do |image| %>
        <%= image_tag (image.thumb.url) unless image.file.nil? %>
        <hr>
      <% end %>


      <div class="panel-body">
        <p>Descrição: <%= product.description %></p>
        <%= link_to 'Exibir', product, :class => "btn btn-primary" %></button>
      </div>

  <% end %>

  </div>
</div>
