<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>Produtos</h1>

  <hr>


  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Exibir', product, :class => "btn btn-primary" %></button>
            <%= link_to 'Editar', edit_product_path(product), :class => "btn btn-primary" %>
            <%= link_to 'Excluir', product, :class => "btn btn-primary", method: :delete, data: {confirm: 'Are you sure?'} %></button>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<hr>
<%= link_to 'Cadastrar Novo Produto', new_product_path, :class => "btn btn-primary" %>
