<div class="col-md-3">

  <p>
    <strong>Nome do Produto:</strong>
    <%= @product.title %>
  </p>

  <p>
    <strong>Descrição do Produto:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Preço do Produto:</strong>
    <%= @product.price %>
  </p>


  <% @product.images.each do |image| %>
     <%= image_tag (image.thumb.url) unless image.file.nil? %>
     <hr>
   <% end %>

  <p>
    <strong>Categoria do Produto:</strong>
    <%= @product.category.description %>
  </p>

  <hr>
  <% @product.images.each do |image| %>
    <%= image_tag (image.thumb.url) unless image.file.nil? %>
    <hr>
  <% end %>

  <%= link_to 'Editar', edit_product_path(@product), :class => "btn btn-primary" %>
  <%= link_to 'Voltar', products_path, :class => "btn btn-primary" %>
</div>
